/* Display indica como se visualiza un elemeto en antalla*/

body{
    background-color: #eee;
}

#span1{
    display: block;
}

p{
    width: 500px;
    background-color: red;
    margin: auto;
    position: relative; /*para mover el elemento con right,top,bottom cierto nro de pixeles si se requieres*/
    right: 15px;
    top: 0px;
    bottom: 0px;
}

h1{
    margin: 15px;
    position: fixed; /* propiedad para dejar elemento fijo en la pantalla sie s que se hace scrolling en la página*/
}