body{
    background-color: #eee;
}

.fondo{
    background-color: green;
    background-image: url('http://placekitten.com/1080/1080');
    /*no-repeat es para no repetir una imagen en el fondo repeat-y 
    o repeat-x hacen que la imagen se repita solo en el eje
    y o x respectivamente*/
    background-repeat: no-repeat;
    /*La imagen puesta de fondo cambia de posición*/
    background-position: right top;
    /*Con esto podemos hacer que la imagen vaya bajando
    al hacer scrolling*/
    background-attachment: fixed;
    /*Esta propiedad ayuda a que la imagen de fondo ocupe el espacio
    completo del contenedor*/
    background-size: cover;
    
}
.fondo p{
    color: white;
}

.fondo2{
    color: white;
    background: green url('http://placekitten.com/1000/1000') no-repeat scroll;
    background-size: cover;
}

/*GRADIENTES DE COLORES*/

/*se debe hacer uso de background-image para gradientes*/
/*si no agregamos el parametro de direccion, va de
arriba hacia abajo*/

.fondo3{
    background-image: linear-gradient(to bottom right, green, red);
}

.fondo4{
    /*linear-gradient(direccion_gradiente, color1,color2)*/
    /*se pueden usar grados también*/
    background-image: linear-gradient(-90deg,red,yellow);
}

/*Se puede colocar también un color intermedio*/
.fondo5{
    color: white;
    /*se pueden agregar varios colores, y si ocupamos
    rgba se les puede agregar transparencia también*/
    background-image: linear-gradient(0deg, rgba(255,0,0,0.5),blue,yellow, violet,
    tomato);
}
