body{
    background-color: rgb(190, 178, 178);
}

a{
    color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px rgb(0, 5, 77);
}

a:link{ /* Asignar estilo al link cuando aún no ha sido visitado (estado normal)*/
    color: pink;
    text-decoration: none;
    background-color: rgb(0, 4, 255);
}

a:visited{ /* color dado a un link cuando ya fue visitado*/
    color: white;
}

a:hover{ /* Cuando pasamos el cursor por encima del link*/
    color: black;
    text-decoration: underline;
    background-color: rgb(83, 86, 255);
}

a:active{ /* Cuando tenemos presionado el link*/
    color: rgb(86, 86, 102);
}